.list{
    background-color: #ff99cc;
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    border-radius: 5px;
}

.list p {
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.list p input:focus{
    outline: none;
}

.list p button{
    background-color: #d5dbdb;
    color: #fff;
    height: 25px;
    width: 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;  
}

.list p button:focus{
    outline: none;
}